<div class="container">

  <div class= "header-cave">
    <div class="user-avatar d-flex">
      <%= cl_image_tag current_user.avatar.key %>
    </div>
    <div class="header-cave-user">
      <h2><%= current_user.username %></h2>
      <h3><%= current_user.first_name %> <%= current_user.last_name %> - <%= current_user.email %></h3>
    </div>
  </div>

  <h2>Vous avez dans votre cave:</h2>
  <% @gifts.uniq.each do |gift| %>

    <%= link_to wine_path(gift.wine) do %>
      <div class="card-cave">
        <% if gift.wine.photo.key.nil? %>
          <%= image_tag 'default-wine.jpg' %>
        <% else %>
          <%= cl_image_tag gift.wine.photo.key %>
        <% end %>

        <div class="card-cave-infos">
          <div class="padding-infos">
            <div>
              <h2><%= gift.wine.name %></h2>
              <p><%= gift.wine.vignoble %> de <%= gift.wine.year %></p>
            </div>
          </div>

          <% if gift.wine.color == "Rouge" %>
            <div class="wine-rouge"></div>
          <% elsif gift.wine.color == "Rosé" %>
            <div class="wine-rose"></div>
          <% elsif gift.wine.color == "Blanc" %>
            <div class="wine-blanc"></div>
          <% else %>
            <div></div>
          <% end %>
        </div>
      </div>
    <% end %>

     <div class="cave-gift">
      <% if gift.usergifts.present? %>
        <% gift.usergifts.each do |usergift| %>
          <%# <%= cl_image_tag(usergift.gifter.avatar.key, width: 40, height: 40, crop: :fill) %>
          <p><%= gift.possession %> <%= I18n.localize(gift.datepossession) %></p>
          <%= cl_image_tag usergift.gifter.avatar.key, class:"user-avatar" %><p><%= usergift.gifter.username %></p>
          <%= gift.quantity %><i class="fa-solid fa-wine-bottle" style="color: #E2C799;"></i>
        <% end %>
      <% else %>
        <p><%= gift.possession %> <%= I18n.localize(gift.datepossession) %></p>
      <% end %>
    </div>
  <% end %>

</div>
