<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-0 fixed-bottom <%= "no-bg" if current_page?(wines_path) %>">
    <div class="footer-container">
      <div class="nav-item icons <%= "active" if current_page?(wines_path) %>">
        <%= link_to wines_path do %>
          <i class="fa-solid fa-house fa-xl" style="color: #E2C799;"></i>
        <% end %>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(wines_path) %>">
        <%= link_to "#" do %>
          <i class="fa-solid fa-comments fa-xl" style="color: #E2C799;"></i>
        <% end %>
      </div>
      <div class="navbar-round">
        <div class="nav-item icons <%= "active" if current_page?(wines_path) %>">
          <%= link_to new_wine_path do %>
            <i class="fa-solid fa-camera fa-2xl" style="color: #4F0F0F;"></i>
          <% end %>
        </div>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(wines_path) %>">
        <%= link_to "#" do %>
          <i class="fa-solid fa-cheese fa-xl" style="color: #E2C799;"></i>
        <% end %>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(wines_path) %>">
        <%= link_to cave_user_path(current_user) do %>
        <% end %>
      </div>

    </div>
  </div>
<% end %>
