  <div class="cards-index">

    <% @wines.each do |wine| %>
      <div class="cards-content">

        <% if wine.photo.attach? %>
          <%= image_tag wine.photo.key %>
        <% else %>
          <%= image_tag "default-wine.jpg" %>
        <% end %>

        <div class="cards-infos">

          <% case wine.color %>
          <% when "Rouge" %>
            <div class="red-wine selected"></div>
          <% when "Blanc" %>
            <div class="white-wine selected"></div>
          <% when "Rosé" %>
            <div class="pink-wine selected"></div>
          <% end %>

          <div class="wine-infos">
            <div class="name"><%= wine.name %></div>
            <div class="vignoble"><%= wine.vignoble %></div>
            <div class="year"><%= wine.year %></div>
          </div>

        </div>
      </div>
    <% end %>

  </div>
