<div class="cards-index">
  <% if @wines.any? %>
    <% @wines.each do |wine| %>
      <%= link_to wine_path(wine) do %>
        <div class="cards-content">
          <div class="wine-img">
            <% if wine.photo.attach? %>
              <%= image_tag wine.photo.key %>
            <% else %>
              <%= image_tag "default-wine.jpg" %>
            <% end %>
          </div>

          <div class="cards-infos">
            <% case wine.color %>
            <% when "Rouge" %>
              <div class="red-wine selected"></div>
            <% when "Blanc" %>
              <div class="white-wine selected"></div>
            <% when "Rosé" %>
              <div class="pink-wine selected"></div>
            <% end %>

            <div class="wine-infos">
              <div class="name"><%= wine.name %></div>
              <div class="vignoble"><%= wine.vignoble %></div>
              <div class="year"><%= wine.year %></div>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>Déso l'alcoolo, pas de vin pour toi !</p>
  <% end %>

</div>
