<%= simple_form_for [@wine, @gift] do |f|%>
  <%= f.input :possession, label: "Comment avez-vous obtenu ce vin ?" %>
  <%= f.input :datepossession, html5: true, label: "Quand avez-vous obtenu ce vin ?"%>
  <%= f.input :quantity, label: "Quantité" %>
  <div class="d-flex justify-content-between">
    <%= f.button :submit, "Ajouter", class: "add-gift"%>
    <%= button_to "Annuler", wine_path(@wine), class: "add-gift" %>
  </div>
<% end %>
