<div class="top-page-design"></div>

<div class="container-index">
  <div class="header-index">
    <%= cl_image_tag current_user.avatar.key %>
    <h1>Grape&Cheese</h1>
  </div>

  <div class="cards-navig">

    <div class="button-cards cave">
      <%= link_to cave_user_path(current_user) do %>
        <%= image_tag 'cave.jpg' %>
        <p>Ma Cave</p>
      <% end %>
    </div>

    <div class="button-cards suggestions">
      <%= link_to "#" do %>
        <%= image_tag 'cheese.jpg' %>
        <p>Suggestions</p>
      <% end %>
    </div>

    <div class="button-cards messages">
      <%= link_to "#" do %>
        <%= image_tag 'phone.jpg' %>
        <p>Messages</p>
      <% end %>
    </div>
  </div>
    <div class="search-wines" data-controller="index-search">
    <h2>Trouver un vin</h2>
    <div class="search-form" >
      <%= form_with url: wines_path, method: :get, html: {class: "", data: {index_search_target: "form"}} do |f| %>
        <%= f.text_field :query,
                        class: "input-form",
                        placeholder: "Que cherchez-vous comme vin ?",
                        value: params[:query],
                        data: {
                          index_search_target: "input",
                          action: "keyup->index-search#update"
                        } %>

          <%= button_tag :submit, class: 'btn-search' do %>
            <i class="fa-solid fa-magnifying-glass" style="color: #e2c799;"></i>
          <% end %>

      <% end %>
    </div>
    <div class="research-container">
      <%= render "wines/list" %>
    </div>
  </div>
</div>
