<div class="top-page-design"></div>

<div class="container">
  <div class="header-index">
    <%= cl_image_tag current_user.avatar.key %>
    <h1>Grape&Cheese</h1>
  </div>

<div class="cards-navig">

  <div id="cave" class="button-cards">
    <%= link_to "#" do %>
      <%= image_tag 'cave.jpg' %>
      <p>Ma Cave</p>
    <% end %>
  </div>

  <div id="suggestions" class="button-cards">
    <%= link_to "#" do %>
      <%= image_tag 'cheese.jpg' %>
      <p>Suggestions</p>
    <% end %>
  </div>

  <div id="messages" class="button-cards">
    <%= link_to "#" do %>
      <%= image_tag 'phone.jpg' %>
      <p>Messages</p>
    <% end %>
  </div>
</div>
</div>
