<div class="top-page-design"></div>

<div class="container">
  <div class="header-index">
    <%= cl_image_tag current_user.avatar.key %>
    <h1>Grape&Cheese</h1>
  </div>

  <div class="cards-navig">

    <div class="button-cards cave">
      <%= link_to "#" do %>
        <%= image_tag 'cave.jpg' %>
        <p>Ma Cave</p>
      <% end %>
    </div>

    <div class="button-cards suggestions">
      <%= link_to "#" do %>
        <%= image_tag 'cheese.jpg' %>
        <p>Suggestions</p>
      <% end %>
    </div>

    <div class="button-cards messages">
      <%= link_to "#" do %>
        <%= image_tag 'phone.jpg' %>
        <p>Messages</p>
      <% end %>
    </div>
  </div>
  <div id="wines">
    <% if @wines.any? %>
      <% @wines.each do |wine| %>
        <h4><%= wine.name %></h4>
        <p><%= wine.description %></p>
      <% end %>
    <% else %>
      <em>Sorry, no wines found.</em>
    <% end %>
  </div>
</div>
