<div class="top-page-design"></div>

<div class="header-show">
  <% if @wine.photo.attached? %>
    <%= cl_image_tag @wine.photo.key %>
  <% else %>
    <%= image_tag "default-wine.jpg" %>
  <% end %>
  <h2 class="header-show-title">
    <%= @wine.name %>
  </h2>
    <p><em>Cuvée <%= @wine.year %></em> 🍷 <%= @wine.color %></p>
</div>

<div class="container-show">
  <div
  data-controller="tabs"
  data-tabs-active-class="active"
  data-tabs-default-tab-value="tab1">

  <div class="flex nav-show">
    <button id="tab1" data-tabs-target="btn" data-action="click->tabs#select">Infos</button>
    <button id="tab2" data-tabs-target="btn" data-action="click->tabs#select">Avis</button>
    <button id="tab3" data-tabs-target="btn" data-action="click->tabs#select">Plus</button>
  </div>

  <div class="rounded-lg categories">
    <div data-tabs-target="tab" id="tab1" class="infos">
      <p><%= @wine.description %></p>
      <div class= "infos-tech">
      <p>🌍 <%= @wine.vignoble %></p>
      <p>💸 <%= @wine.price %>€</p>
      <p>🌡️ <%= @wine.alcool_degree %>°</p>
      </div>
    </div>

    <div data-tabs-target="tab" id="tab2" class='hidden'>
      <% @ratings.each do |rating| %>
        <div class="card-trip-infos">
          <p><%= rating.description %></p>
          <h2 class="card-trip-pricing"><%= rating.evaluation %></h2>
          <%= cl_image_tag rating.user.avatar.key, class: "card-trip-user avatar-bordered" %>
          <% if rating.user == current_user %>
            <%= link_to rating_path(rating), data: {turbo_method: :delete} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div data-controller="toggle">
        <button data-action="click->toggle#fire" class="add-rating">Ajouter un avis</button>
        <div data-toggle-target="togglableElement" class="d-none">
          <%= render "ratingform", rating: @rating, wine: @wine %>
        </div>
      </div>
    </div>

    <div data-tabs-target="tab" id="tab3" class='hidden'>

        <div data-controller="toggle">
          <button data-action="click->toggle#fire" class="add-rating">Ajouter à votre Cave</button>
          <div data-toggle-target="togglableElement" class="d-none">
            <%= render "giftform", rating: @gift, wine: @wine %>
          </div>
        </div>


      <% if @gifts.any? %>
        <% @gifts.each do |gift| %>
          <div class= "cards-gift">
            <div class= "cards-gift-infos">
              <p><%= gift.possession %> le <%= I18n.localize(gift.datepossession)  %></p>
              <p><%= pluralize(gift.quantity, 'bouteille') %></p>
              <%= link_to gift_path(gift), data: {turbo_method: :delete} do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
            <div data-controller="usergifts" class="checkbox-gift">
              <input type="checkbox" data-usergifts-target="checkbox" data-action="click->usergifts#check"><p>Lié à un utilisateur ?</p>
              <div class="d-none" data-usergifts-target="userSearch">
                <%= form_with url: users_path, method: :get, html: {class: "", data: {usergifts_target: "form"}} do |f| %>
                  <%= f.text_field :query,
                    class: "input-form",
                    placeholder: "Que cherchez-vous comme vin ?",
                    value: params[:userquery],
                    data: {
                      usergifts_target: "input",
                      action: "keyup->usergifts#update"
                    } %>
                  <%= button_tag :submit, class: 'btn-search' do %>
                    <i class="fa-solid fa-magnifying-glass" style="color: #e2c799;"></i>
                  <% end %>
                <% end %>
                <% @gift = gift %>
                <%= render "gifter/usergifts/adduser", gift: @gift %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Vous n'avez pas ce vin dans votre cave</p>
      </div>
      <% end %>
    </div>

</div>
</div>
